/out/
/target/
/repl/
/node_modules/
/classes/
/checkouts/
/.env
/.lein-env
/.lein-failures
/.lein-deps-sum

/resources/public/js/simplestrat.js

/.repl/

\#*\#
._*
*~
.#*
.lein-repl-history
.Thumbs.db
